<div class='row'>

  <div class='col-md-4 offset-md-2'>
  
    <h1><%= current_user.name %>  <%= link_to 'ユーザ情報を編集する', edit_user_path(current_user), class: 'btn btn-outline-danger' %></h1>
    
    <%= form_with(model: current_user, local: true) do |f| %>
        
      <%= render 'layouts/error_messages', model: f.object %>
          
      <div class='form-group'>
        <%=f.label :goal, '目標' %>
        <%= f.select :goal, [["大阪(難易度5)", "大阪"], ["琵琶湖(難易度4)", "琵琶湖"], ["愛知(難易度3)", "愛知"], ["富士山(難易度2)", "富士山"], ["相模原(難易度1)", "相模原"]], include_blank: "新宿がスタート", class: "form-control" %>
        <%= f.submit '登録', class: 'btn btn-outline-primary' %>
      </div>
          
    <% end %>
    
  </div>
  
  <div class='col-md-4'>
    <%= render 'ecos/ecos', ecos: @my_ecos %>
  </div>
  
</div>