<div class='catch'>
  <img src="/assets/都内.jpg" alt="風車の画像">
  <div class='letter'>
    みんなの記録<br>
    CO2:<%= @total_co2 %>グラム<br>
    走行距離:<%= @kiro %>キロ&gt;<%= @prace %>
  </div>
</div>

<div class='row'>
  <div class='col-md-6 offset-md-3'>
    <ul class='nav nav-tabs nav-justified mb-3'>
      <% if logged_in? %>
      
        <li class='nav-item'><a href="<%= my_index_path %>" class="nav-link <%= 'active' if current_page?(my_index_path) %>">MYエコアクション<span class="badge badge-secondary"><%= @count_ecos %></span></a></li>
      
      <% end %>
      
      <li class="nav-item"><a href="<%= root_path %>" class="nav-link <%= 'active' if current_page?(root_path) %>">総エコアクション</a></li>
       
    </ul>
    
    <%= render 'ecos/ecos', ecos: @ecos %>
    
  </div>
</div>