<% if logged_in? %>
  <div class='my_eco_action'>
    <h1>マイエコアクション一覧</h1>
    
    <h2><%= @count_ecos %>個のエコアクション</h2>
    <h2><%= @my_total_co2 %></h2>
    <h2><%= @my_kiro %>キロ走行</h2>
    <h2><%= @my_total_car_distance %></h2>
    
    <%= render 'ecos/ecos', ecos: @my_ecos %>
    
  </div>
<% end %>

<div class='total_eco_action'>
  <h1>総エコアクション一覧</h1>
  
  <h2><%= @total_co2 %></h2>
  <h2><%= @kiro %>キロ走行</h2>
  <h2><%= @total_car_distance %></h2>
  
  <%= render 'ecos/ecos', ecos: @ecos %>
  
</div>

<%= link_to '新規エコアクションの投稿', new_eco_path %>