<div class='catch'>
  <img src="/assets/<%= @prace %>.jpg" alt="<%= @prace %>の画像">
  <div class='letter'>
    <h2><%= @my_total_co2 %>グラム<%= @my_kiro %>キロ<%= @prace %></h2>
    
    <% if current_user.goal.present? %>
      <% if @my_kiro >= goal_to_kiro(current_user.goal) %>
        <h2>おめでとう目標達成！</h2>
      <% else %>
        <h2><%= current_user.goal %>を目指そう</h2>
      <% end %>
      
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @my_progress %>%" aria-valuenow="<%= @my_progress %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col-md-8 offset-md-2'>
    
    <ul class='nav nav-tabs nav-justified mb-3'>
      <li class='nav-item'><a href="<%= my_index_path %>" class="nav-link <%= 'active' if current_page?(my_index_path) %>">MYエコアクション<span class="badge badge-secondary"><%= @count_ecos %></span></a></li>
      <li class="nav-item"><a href="<%= root_path %>" class="nav-link <%= 'active' if current_page?(root_path) %>">総エコアクション</a></li>
     </ul>
    <%= render 'ecos/ecos', ecos: @my_ecos %>
  
  </div>
</div>