<div style='float:left; width:40%;'>
  <h2><%= @count_ecos %>個のエコアクション</h2>
  <h2><%= @my_total_co2 %>グラムのCO2削減</h2>
  <h2><%= @my_kiro %>キロ走行</h2>
  <h2>大阪(500キロ)を目指そう！</h2>
  <h2>今は<%= @prace%></h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= @my_kiro %>%" aria-valuenow="<%= @my_kiro %>" aria-valuemin="0" aria-valuemax="500"></div>
  </div>
</div>

<div style='float:left; width:60%;'>
  <img src="/assets/<%= @prace %>.jpg" alt="<%= @prace %>の画像" width="60%" height="60%">
</div>
<div style='clear:both;'></div>

<div class='col-sm-8'>
  <ul class='nav nav-tabs nav-justified mb-3'>
    
    <li class='nav-item'><a href="<%= my_index_path %>" class="nav-link <%= 'active' if current_page?(my_index_path) %>">MYエコアクション<span class="badge badge-secondary"><%= @count_ecos %></span></a></li>
    
    <li class="nav-item"><a href="<%= root_path %>" class="nav-link <%= 'active' if current_page?(root_path) %>">総エコアクション</a></li>
     
  </ul>
  
  <%= render 'ecos/ecos', ecos: @my_ecos %>
  
</div>
<%= link_to '新規エコアクションの投稿', new_eco_path %>