<table class='table table-striped table-bordered mt-3'>
  <tr><th>ユーザ</th><th>エコアクション</th><th>CO2削減量</th><th></th><th></th></tr>
  <% ecos.each do |eco| %>
    <tr>
      <td>
        <% if eco.user.present? %>
          <%= eco.user.name %>
        <% end %>
      </td>
      
      <td><%= eco.action %></td>
      
      <td><%= eco.co2 %></td>
      
      <% if logged_in? && current_user == eco.user %>
        <td>
          <%= link_to '編集', edit_eco_path(eco) %>
        </td>
        
        <td>
          <%= link_to 'Delete', eco, method: :delete, data: { confirm: 'You sure?' } %>
        </td>
      <% else %>
        <td></td><td></td>
      <% end %>
    </tr>
  <% end %>
</table>
  <%= paginate ecos %>