<ul class='lest-group'>
  <% ecos.each do |eco| %>
    <li class='list-group-item' style= 'position: relative;'>
      <div>
        <% if eco.user.present? %>
          <%= eco.user.name %>
        <% else %>
          no name
        <% end %>
        <br>
        <%= eco.action %>
        <br>
        <%= eco.co2 %>グラム
      </div>
      
      <div style='position: absolute; top: 1px; right: 0px;'>
        <% if logged_in? && current_user == eco.user %>
          <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-align-justify"></i>
            </button>
    
            <div class="dropdown-menu">
              <%= link_to '編集', edit_eco_path(eco), class: 'dropdown-item' %>
              <%= link_to '削除', eco, method: :delete, data: { confirm: 'You sure?' }, class: 'dropdown-item' %>
            </div>
          </div>
        <% end %>
      </div>
      
    </li>
  <% end %>
</ul>
  <%= paginate ecos %>